.brand {
    display: flex;
    margin: 0 0 63px;
}

.brand__title-wrp {
    display: flex;
    align-items: center;
    padding: 0 0 0 92px;
    background-color: $pink-bkg;
    flex-grow: 1;
}

.brand__title {
    // font-size: 48px;
    // font-weight: 900;
    // line-height: 58px;
    @include font(48px, 58px, 900);
    color: $black;
    text-transform: uppercase;
    position: relative;
}

.brand__title::after {
    content: '';
    width: 12px;
    height: 92px;
    background: #F16D7F;
    position: absolute;
    left: -18px;
    top: 0px;
}

.brand__sub-title {
    display: block;
    font-size: 32px;
    line-height: 38px;
}

.brand__sub-title-pink {
    color: $pink-text;
}