.catal_products {
    width: 360px;
    height: 560px;
    margin: auto;
    margin-top: 30px;
    background: #F8F8F8;

    @include mobile {
        width: 100%;
        height: 100%;
    }
}

.catal_image {
    margin-left: -12px;

    @include mobile {
        width: 105%;
    }
}

.catal_products__item-title {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    margin-top: 24px;
}

.catal_products__item-text {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin-top: 13px;
}

.catal_products__item-link {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.catal__pagination {
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 96px;
}

.catal__page-item {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;

    color: #EF5B70;
}