.products__title {
    text-align: center;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-transform: capitalize;
    color: #222222;
    margin: 96px 6px 0 0;
}

.products__text {
    text-align: center;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #9f9f9f;
    margin: 0 0 18px 0;
}

.products__item {
    width: 360px;
    min-height: 581px;
    align-items: center;
    justify-content: center;
    background: #f8f8f8;
    margin-top: 30px;

    @include tablet {
        margin-right: 30px;
    }

}

.products__list {
    display: flex;
    flex-wrap: wrap;

    @include tablet {
        justify-content: center;
    }
}

.products__item-first {
    margin-right: 30px;
}

.products__item-second {
    margin-right: 30px;
}

.products__item-thirth {
    margin-right: 30px;
}

.products__item-forth {
    margin-right: 30px;
}

.products__item-title {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    text-transform: uppercase;
    margin: 25px 0 13px 18px;
}

.products__item-text {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5d5d5d;
    margin: 0 0 20px 18px;
}

.products__item-link {
    margin-left: 18px;
    color: $pink-text;
}

.products__item-img:hover,
.products__item-img:focus {
    cursor: pointer;

}

.products__button {
    width: 211px;
    height: 47px;
    display: block;
    margin: 49px auto;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    color: #f26376;
    border: 1px solid;
}

.products__button:hover,
.products__button:focus {
    background: #F16D7F;
    color: white;
    cursor: pointer;

}


.products__cart {
    min-height: 420px;
    width: 360px;
}

.products__cart-wrapper-overlay {
    position: relative;
}

.products__cart-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 138px;
    height: 43px;
    background-color: Transparent;
    border: 1px solid #FFFFFF;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    cursor: pointer;
}

.products__cart-button::before {
    content: '';
    width: 19px;
    height: 15px;
    position: absolute;
    top: 12px;
    left: 14px;
    background-image: url("../img/busket_hover.png");
    background-size: 19px 15px;
}

.products__item-hover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 428px;
}

.products__cart-button {
    display: none;
}

.products__item-hover {
    display: none;
}

.products__cart:hover .products__cart-button,
.products__cart:hover .products__item-hover {
    display: block;

}