.productpage__wrp {
    margin-bottom: 128px;
}

.productpage__medium {
    height: 601px;
    z-index: 1;
    margin-top: -60px;
    background-color: #FFFFFF;
    border: 1px solid #EAEAEA;
    text-align: center;
    padding-top: 64px;
}


.productpage__medium-list {
    display: flex;
    margin-top: 130px;
    margin-bottom: 49px;
}

.productpage__medium-title {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
}

.productpage__medium-stitle {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
    margin-top: 27px;
    margin-bottom: 49px;
}

.productpage__medium-text {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #5E5E5E;
}

.productpage__medium-price {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #EF5B70;
    margin-top: 32px;
    margin-bottom: 130px;
}

.productpage__medium-item {
    width: 100%;
}

.productpage__products {
    width: 360px;
    height: 560px;
    margin: auto;
    margin-top: 30px;
    background: #F8F8F8;

    @include mobile {
        width: 100%;
        height: 100%;
    }
}

.productpage__button-one {
    align-items: center;
}

.productpage__button {
    position: relative;
    width: 211px;
    height: 48px;
    border: 1px solid #FF6A6A;
    background: #FFFFFF;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: #F26376;

    @include mobile {
        width: 75%;
    }
}

.productpage__button:hover,
.productpage__button:focus {
    opacity: 0.7;
    cursor: pointer;
}

.productpage__button::before {
    content: '';
    width: 26px;
    height: 24px;
    position: absolute;
    top: 12px;
    left: 20px;
    background-image: url(/img/bas-but.png);
    background-size: 26px 24px;
}

.far-slider {
    color: black;
    font-size: 50px;
}