.shopcart {
    margin-top: 96px;
}

.shopcart__head {
    min-height: 148px;
    background: #F8F3F4;

}

.shopcart__title {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
    text-transform: uppercase;
    padding-top: 60px;
}

.shopcart__wrp {
    min-height: 902px;
    display: flex;
}

.shopcart__cart-img {
    height: 306px;
    width: 262px;
}

.shopcart__cart {
    display: flex;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    margin-bottom: 40px;

}

.shopcart__cart-button {
    display: flex;
}

.shopcart__cart-desc {
    width: 390px;
    height: 309px;
    padding-left: 31px;
    /* padding-top: 22px; */

}

.shopcart__cart-title {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;

    color: #222222;
    width: 200px;
    margin-bottom: 40px;
    margin-top: 22px;
}

.shopcart__cart_item {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;

    color: #575757;
    margin-bottom: 6px;
}

.shopcart__cart_item-pink {
    color: $pink-text;
}

.shopcart__cart-button {
    margin-top: 72px;
}

.shopcart__rigthform {
    margin-left: 128px;
}

.shopcart__legend {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;

    color: #222222;
    text-transform: uppercase;
}

.shopcart__input {
    width: 360px;
    height: 45px;
    margin-top: 20px;
    padding-left: 17px;

    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    text-transform: capitalize;
    color: #B1B1B1;
}

.shopcart__button {
    width: 101px;
    height: 34px;
    margin: auto 0;
    margin-top: 24px;

    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    text-transform: uppercase;
}

.shopcart__button:hover,
.shopcart__button:focus {
    opacity: 0.7;
    cursor: pointer;
}

.shopcart__total {
    width: 280px;
    height: 144px;
    background-color: #F5F3F3;
    margin-top: 60px;
    padding: 40px;
}

.shopcart__total-item {
    text-align: right;
}

.shopcart__total-item-first {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: #4A4A4A;
    text-transform: uppercase;
}

.shopcart__total-item-second {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;

    color: #222222;
    text-transform: uppercase;
    margin-top: 12px;
    margin-bottom: 39px;
}

.shopcart__total-button {
    width: 273px;
    height: 50px;
    background: #F16D7F;
    border: none;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.shopcart__total-button:hover,
.shopcart__total-button:focus {
    opacity: 0.7;
    cursor: pointer;
}

.shopcart__cart-buttons {
    width: 211px;
    height: 47px;
    display: block;
    margin: 0 auto;

    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    text-transform: uppercase;
    border: 1px solid;
}

.shopcart__cart-buttons:hover,
.shopcart__cart-buttons:focus {
    opacity: 0.7;
    cursor: pointer;
}

.shopcarts__items {
    position: relative;
}

.shopcarts__items::before {
    content: '';
    width: 18px;
    height: 18px;
    position: absolute;
    top: 18px;
    right: 15px;
    background-image: url("../img/cross.svg");
    background-size: 18px 18px;
    cursor: pointer;
}

.shopcart__total-line {
    position: relative;

}

.shopcart__total-line::after {
    content: '';
    width: 275px;
    height: 1px;
    background: #E2E2E2;
    position: absolute;
    left: -3px;
    top: -17px;
}